
<div class="main" *ngFor='let contact of contacts' >
   <p> <span class="police"> Nom : </span> {{ contact.personne.nom }} 
    <span class="police"> Prénom : </span>{{ contact.personne.prenom }}</p>
    <p> <span class="police">Fonction :</span>{{ contact.fonction.libelle}}</p>
    <p> <span class="police">Téléphone : </span> {{ contact.personne.telephone }}</p>
    <p> <span class="police">E-mail : </span> {{ contact.personne.email }}</p>
    <span id="buttons"><button class="button button">Modifier</button>
    <button class="button" (click)="deleteContact(contact.id)">Suprimmer</button></span>
    <div>...</div>
</div>