<table id="listContact" class="dataTable">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Fonction</th>
            <th>Téléphone</th>
            <th>E-mail</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr *ngFor='let contact of contacts'>
        <td>{{ contact.personne.nom }}</td>
        <td>{{ contact.personne.prenom }}</td>
        <td>{{ contact.fonction.libelle }}</td>
        <td>{{ contact.personne.telephone }}</td>
        <td>{{ contact.personne.email }}</td>
        <td class="w3-opacity w3-large">
            <i class="fa fa-pencil w3-hover-opacity"></i>
            <i class="fa fa-close w3-hover-opacity" (click)="deleteContact(contact.id)"></i>
        </td>
    </tr>
</table>