       <div class="container">
       <div class="modal-header">
          <h4 class="modal-title">Détail materiel</h4>
                <button type="button" class="btn btn-info" ng-click="click()">
                        Back
               </button>
       </div>
       <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:rgba(0, 0, 0, 0.432);">
      
                <p><span>Nom materiel : </span>{{ materiel.libelle }}</p>
                <p><span>N° Serie : </span>{{ materiel.numSerie }}</p>
                <p><span>Type Materiel : </span>{{ materiel.typeMateriel.libelle }}</p>
       
    </div>
    <div class="col-sm-8" style="background-color:rgba(0, 0, 0, 0.432);">
         <app-liste-interface [idMateriel]=materiel.id></app-liste-interface>
    </div>
  </div>
</div>
 
 
       
       <div class="modal-footer">
               <button type="button" class="btn btn-info" ng-click="click()">
                       Press Me Hard
               </button>
       </div>
       </div>


