<h1 class="w3-content">Détail matériel {{ materiel.libelle }}</h1>
<div class="w3-content w3-row">
        <h2>Caractéristiques</h2>
        <div class="w3-third" id="caracMateriel">
                <p><label>Nom : </label>{{ materiel.libelle }}</p>
                <p><label>N° série : </label>{{ materiel.numSerie }}</p>
                <p><label>Type : </label>{{ materiel.typeMateriel.libelle }}</p>
        </div>

        <div class="w3-twothird w3-center">
                <img src="{{ urlImg }}"/>
        </div>
</div>

<div class="w3-content w3-row">
        <h2>Interfaces</h2>
        <app-liste-interface [idMateriel]=materiel.id></app-liste-interface>
        <h2>Incidents</h2>
</div>