#blocks{
    text-align: center;
}



img{
    width: 140px;
}

#cadre{
 
    width:100%;
    text-align: center;
}
#detailCl{  
     height: 150px;
    background: rgb(255, 128, 8);
    text-align: center;
    display: flex;
}

#detCon{
    width: 300px;

}