#detailCl{  
    width:100%;
}
#cadre{
    display: flex;
    flex-wrap: nowrap;
    height: 150px;
    background: rgb(255, 128, 8);
    text-align: center;
}

.enfant{
  text-align: center;
}

img{
    width:140px;
}

#blocks{
width: 610px;
margin: auto;
}
#listeC, #listeM {
    display: inline-flex;
    width: 300px;
}