<p>ajout-client works!</p>
<div class="card m-3">
    <h5 class="card-header">Ajout d'un client</h5>
    <div class="card-body">
        <form [formGroup]="ajoutForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class ="form-group col">
                <div class="form-group col-5">
                    <label>nom</label>
                    <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                        <div *ngIf="submitted && f.nom.errors">  Le nom de la société est requis </div>
                </div>
               
                <div class="form-group col-5">
                    <label>Adresse 1</label>
                    <input type="text" formControlName="adresse1" class="form-control" />
                </div>
                <div class="form-group col-5">
                    <label>Adresse 2</label>
                    <input type="text" formControlName="adresse2" class="form-control" />
                </div>
                <p>veuillez renseigner une ville</p>
                <div class="form-group col-5">
                <select formControlName="ville" [(ngModel)]="ville"name="ville" >
                    <option value=""> </option>
                    <option *ngFor="let ville of villes" value="{{ ville.id }}">{{ ville.nom }}</option>
                    <option value="autre">Nouvelle Ville</option>
                    </select>
                </div>
               
                <div class="form-group col-5" *ngIf="ville == 'autre'"> 
                 <input type="text" formControlName="codePostal" name="codePostal" placeholder="veuillez renseigner un code postal" />
                 <input type="text" name="nomVille"  placeholder="veuillez renseigner une ville" />
                </div>
            
                <div class="Ajouter">
                <button class="btn btn-primary mr-1">Ajouter</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
                </div>
              </div> 
            </div>
        </form>
    </div>
</div>

