<h1 class="w3-content">Détail client {{ client.nom }}</h1>
<div class="w3-content w3-row">
  <h2>Adresse</h2>
  <div class="w3-third">
    <div>
      <p>{{ client.adresse1 }}</p>
      <span *ngIf='client.adresse2 != null'>
          <p>{{ client.adresse2 }}</p>
      </span>
      
      <span *ngIf='client.ville != null'>
        <p>{{ client.ville.codePostal }}</p>
        <p>{{ client.ville.nom }}</p>
      </span>
    </div>
  </div>

  <div class="w3-twothird w3-center">
    <span>Map</span>
  </div>
</div>

<div class="w3-content w3-row">
    <h2>Matériels</h2>
    <app-liste-materiel [idClient]=client.id></app-liste-materiel>
    <h2>Contacts</h2>
    <app-liste-contact [idClient]=client.id></app-liste-contact>
    <h2>Export incidents</h2>
    <form [formGroup]="formExportIncident">
      <div class="w3-half" id="divDateDebut">
        <label for="debut">Date début</label>
        <input type="date" name="debut" placeholder="yyyy-MM-dd" formControlName="debut" class="w3-input w3-border" />
      </div>
      <div class="w3-half" id="divDateFin">
        <label for="fin">Date fin</label>
        <input type="date" name="fin" placeholder="yyyy-MM-dd" formControlName="fin" class="w3-input w3-border" />
      </div>
      <button (click)="onExportIncident()" class="w3-button w3-blue">Exporter</button>
    </form>
</div>