<h1>Clients</h1>
<table id="listClient" class="dataTable">
        <thead>
                <tr>
                <th>Nom</th>
                <th>Nb Matériel</th>
                <th>Nb Contact</th>
                <th>Adresse</th>
                <th>Action</th>
                </tr>
        </thead>
        <tr *ngFor='let client of clients'>
                <td>{{ client.nom }}</td>
                <td>{{ client.materiels.length }}</td>
                <td>{{ client.contacts.length }}</td>
                <td>
                        {{ client.adresse1 }}
                        <span *ngIf='client.adresse2 != null'>
                                {{ client.adresse2 }}
                        </span>
                        <span *ngIf='client.ville != null'>
                                {{ client.ville.codePostal }}
                                {{ client.ville.nom }}
                        </span>
                </td>
                <td class="w3-opacity w3-large">
                        <i class="fa fa-search w3-hover-opacity" (click)="goToDetail(client.id)"></i>
                        <i class="fa fa-pencil w3-hover-opacity" (click)="displayEditClient(client.id)"></i>
                        <i class="fa fa-close w3-hover-opacity" (click)="deleteClient(client.id, client.nom)"></i>
                </td>
        </tr>
</table>

<div class="w3-container">
        <button (click)="displayAjoutClient()" class="w3-button w3-blue">Créer</button>

        <div class="w3-modal" *ngIf="showModaleClient">
                <div class="w3-modal-content">
                <header class="w3-container w3-teal"> 
                <span (click)="showModaleClient=false" class="w3-button w3-display-topright">&times;</span>
                <h2>{{ isModalCreationClient ? "Créer" : "Modifier"}} client</h2>
                </header>
                <div class="w3-container">
                <form [formGroup]="formClient">
                        <label for="nom">Nom</label>
                        <input type="text" formControlName="nom" class="w3-input w3-border" placeholder="Nom du client"/>
                        <label for="adresse1">Adresse</label>
                        <input type="text" formControlName="adresse1" class="w3-input w3-border" placeholder="1 rue de la liberté"/>
                        <label for="adresse2">Complément d'adresse</label>
                        <input type="text" formControlName="adresse2" class="w3-input w3-border" placeholder="ZI"/>
                        <label for="idVille">Ville</label>
                        <select name="idVille" formControlName="idVille" class="w3-select">
                                <option value="0">Nouvelle ville</option>
                                <option *ngFor="let ville of villes" value="{{ ville.id }}">{{ ville.nom + " (" + ville.codePostal + ")" }}</option>
                        </select>

                        <div *ngIf="+formClient.value.idVille < 1">
                                <label for="nomVille">Nom de la ville</label>
                                <input type="text" formControlName="nomVille" class="w3-input w3-border" placeholder="Bordeaux"/>
                                <label for="cpVille">Code Postal</label>
                                <input type="text" formControlName="cpVille" class="w3-input w3-border" placeholder="33000"/>                 
                        </div>

                        <button class="w3-teal w3-button" (click)="onSubmitClient()">{{ isModalCreationClient ? "Créer" : "Modifier" }}</button>
                </form>
                </div>
        </div>
</div>