<p>ajout-client works!</p>
<div class="card m-3">
    <h5 class="card-header">Ajout d'un client</h5>
    <div class="card-body">
        <form [formGroup]="ajoutForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Libellé</label>
                    <input type="text" class="form-control" />
                </div>
               
                <div class="form-group col-5">
                    <label>Num. série</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group col-5">
                    <label>Type Matériel</label>
                    <select name="typeMateriel" >
                        <option *ngFor="let type of typeMateriel" value="{{ type.id }}">{{ type.libelle }}</option>
                    </select>
                </div>
                <div class="form-group col-5">
                    <button class="btn btn-primary mr-1">Ajouter</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
                </div>
            </div>
        </form>
    </div>
</div>

