<table id="listInterface" class="dataTable">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Mac</th>
            <th>Type</th>
            <th>IpV4</th>
            <th>IpV6</th>
            <th>Masque</th>
            <th>Affectation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr *ngFor='let interface of interfaces'>
        <td>{{ interface.nom }}</td>
        <td>{{ interface.mac }}</td>
        <td>{{ interface.typeif.libelle }}</td>
        <td>{{ interface.adresse == null ? "-" : interface.adresse.ipv4 }}</td>
        <td>{{ interface.adresse == null ? "-" : interface.adresse.ipv6 }}</td>
        <td>{{ interface.adresse == null ? "-" : interface.adresse.masque }}</td>
        <td>{{ interface.adresse == null ? "-" : interface.adresse.typeAffectation.libelle }}</td>
        <td class="w3-opacity w3-large">
            <i class="fa fa-pencil w3-hover-opacity"></i>
            <i class="fa fa-close w3-hover-opacity" (click)="deleteContact(contact.id)"></i>
        </td>
    </tr>
</table>